{% extends 'imdb/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>

</head>
<body>    
            
            <div style="margin-left: 10px;margin-top: 10px;">
                <div style="margin-top: 30px;">
                    <span style="color: gold;font-size: 20px;">•</span>
                    <span style="font-weight: 500; font-size: 25px;" class="w">POPULAR IN THEATRE</span>
                </div>

                <div style="overflow: scroll; overflow-y: hidden;">

                    <div style="display:inline-flex;">
                        {% for n,i,r,y in popular_in_theatre %}
                            
                            <a href="{% url 'search' n y %}"style="text-decoration: none;">
                                <div class="w" style="width: 250px;cursor: pointer; padding: 15px;">
                                    
                                    <img src="{{ i }}" style="width:200px;height: 300px;" class="card-img d-img">
                                    <div class="card-body">
                                        <span class="card-title w d-title">{{ n }} {{y}} <br> {{ r }}/10</span>
                                    </div>
                                    
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>


                
                <div style="margin-top: 30px;">
                    <span style="color: gold;font-size: 20px;">•</span>
                    <span style="font-weight: 500; font-size: 25px;" class="w">TRENDING THIS WEEK</span>
                </div>

                <div style="overflow: scroll; overflow-y: hidden;">

                    <div style="display:inline-flex;">
                        {% for n,i,r,y in trending_this_week %}
                            <a href="{% url 'search' n y %}"style="text-decoration: none;">
                            <div class="w" style="width: 250px;cursor: pointer; padding: 15px;">
                                
                                <img src="{{ i }}" style="width:200px;height: 300px;" class="card-img d-img">
                                <div class="card-body">
                                    <span class="card-title w d-title">{{ n }} {{y}} <br>  {{ r }}/10</span>
                                    
                                </div>
                                
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            

                <div style="margin-top: 30px;">
                    <span style="color: gold;font-size: 20px;">•</span>
                    <span style="font-weight: 500; font-size: 25px;" class="w">POPULAR MOVIES</span>
                </div>

                <div style="overflow: scroll; overflow-y: hidden;">

                    <div style="display:inline-flex;">
                        {% for n,i,r,y in popular_movies %}
                            <a href="{% url 'search' n y %}"style="text-decoration: none;">
                            <div class="w" style="width: 250px;cursor: pointer; padding: 15px;">
                                
                                <img src="{{ i }}" style="width:200px;height: 300px;" class="card-img d-img">
                                <div class="card-body">
                                    <span class="card-title w d-title">{{ n }} {{y}} <br>  {{ r }}/10</span>
                                    
                                </div>
                                
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>


                <div style="margin-top: 30px;">
                    <span style="color: gold;font-size: 20px;">•</span>
                    <span style="font-weight: 500; font-size: 25px;" class="w">POPULAR TV SHOWS</span>
                </div>

                <div style="overflow: scroll; overflow-y: hidden;">

                    <div style="display:inline-flex;">
                        {% for n,i,r,y in popular_shows %}
                            
                            <a href="{% url 'search' n y %}"style="text-decoration: none;">
                            <div class="w" style="width: 250px;cursor: pointer; padding: 15px;">
                                
                                <img src="{{ i }}" style="width:200px;height: 300px;" class="card-img d-img">
                                <div class="card-body">
                                    <span class="card-title w d-title">{{ n }} {{y}} <br>  {{ r }}/10</span>
                                    
                                </div>
                                
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>


            </div>
        
    
</body>
{% endblock %}
</html>